projects/*/stills/
projects/*/chk_*.jpg
projects/*/video.mp4
projects/*/tail.mp4
projects/*/audio.wav
projects/*/render.log
projects/*/final*.jpg
projects/*/sb*.jpg
projects/*/msb*.jpg
projects/*/chk*.jpg
projects/*/vsb*.jpg
projects/*/top_*.jpg
projects/*/name_chk.jpg
projects/*/slog.jpg
projects/*/intro_chk.jpg
